body {
    background-color: #39fb39;
}
h1 {
    color: rgb(197, 34, 34);
    background-color: cornsilk;
}
#score {
    float:left;
    color: blue;
    font-size: 40px;
}
#timer {
    float:right;
    color:blue;
    font-size: 40px;
}
#show_sketch {
    float:right;
}
canvas {
    border:5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 3s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes example {
    from{box-shadow: 1px 1px 38px grey;}
    to{box-shadow: 1px 1px 38px rgb(179, 62, 62);}
}
p{
    padding-top: 10px;
    font-size: 25px;
    color: rgba(230, 255, 5, 0.859);
}
